---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Redirecting...</title>
    <script is:inline>
      // Immediately redirect to the home page before the page renders to avoid flickering
      window.location.replace('/');
    </script>
  </head>
  <body>
  </body>
</html>
